/Swap12.class
/AreaOfCircle.class
/AreaOfRectangle.class
/ArmstrongNumber.class
/BiggestNumber.class
/Demo.class
/Factorial.class
/HappyNumber.class
/Middle.class
/NumberOrDigit.class
/Palindrome.class
/PerfectNumber.class
/PositiveNumber.class
/PrimeNumber.class
/SmallestNumber.class
/SpecialTwoDigit.class
/SpecialTwoDigitByMethod.class
/TableOfNumber.class
/TwoDigitNumber.class
/AramstrongNumber.class
/CountDuplicateNumber.class
/DemoNumber.class
/DisarumNumber.class
/FibbonacciSeries.class
/Find1stAnd2ndMaxNoWithoutUsingBBsort.class
/Find1stAnd2ndMinNoWithoutUsingBBsort.class
/MultiplicationOf1st3MinNoWithoutUsingBBsort.class
/NumberIsDigitOrNot.class
/NumberOfDigit.class
/PositionOfEachNumberWithoutDuplicateNumber.class
/RemoveDuplicateNumber.class
/StrongNumber.class
/SumOf1st3MaxNo.class
/SumOf1st3MinNo.class
/XylemFloemNumber.class
