/ComplexPettern.class
/MetrixPettern.class
/Program12.class
/Program13.class
/Program14.class
/Program15.class
/Program16.class
/Program17.class
/Program18.class
/Program19.class
/Program3.class
/Q2_ProdOfFirst3rdMax.class
/Q8_SumOfFirst3MinNumb.class
